@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}
<div class="container">
    <h2>@ViewBag.Mess</h2>

    @using (Html.BeginForm("ClearCache", "ClearCache", FormMethod.Post))
    {
        @Html.TextBox("url")

        <input type="submit" value="Đồng ý" />
    }
    <div>

    </div>
</div>

