@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutVnpost.cshtml";
}


<div id="main-content">

    <div class="container">

        <div class="row page-404">

            <div class="col-sm-5">

                <div class="error404 text-center">404</div>

            </div>

            <div class="col-sm-7">
                <h1>Rất tiếc, trang bạn tìm kiếm không tồn tại</h1>


                <h4>
                    Quý khách vui lòng bấm vào đây để quay lại trang chủ

                    <a href="https://vnpost.vienthonga.vn" class="pri txt-bold">vnpost.web.com</a>
                </h4>

                <p>
                    Mọi thông tin chi tiết xin quý khách vui lòng liên hệ
                    <span class="txt-bold phone">1900 54 54 46</span>
                </p>

                <p>Hoặc email: <a href="mailto:cs@vienthonga.com" class="pri txt-bold">cs@vienthonga.com</a></p>

                <br>
                <div class="row list-page404">
                    <div class="col-sm-4">
                        <ul class="clearlist">
                            <li><a href="/dien-thoai-smartphones">Điện thoại</a></li>
                            <li><a href="/may-tinh-bang">Tablet</a></li>
                            <li><a href="/laptop">Laptop</a></li>
                            <li><a href="/linh-phu-kien">Phụ kiện</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-4">
                        <ul class="clearlist">

                            <li><a href="/gift-card/">Thẻ, sim</a></li>

                            <li><a href="/may-doi-tra/">Máy đổi trả</a></li>
                            <li><a href="/khuyen-mai-moi-nhat/">Khuyến mãi</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-4">
                        <ul class="clearlist">
                            <li><a href="/tra-gop.html">Trả góp</a></li>
                            <li><a href="https://sinhvien.vienthonga.vn/">Ưu đãi sinh viên</a></li>

                            <li><a href="/tin-tuc">Tin công nghệ</a></li>

                        </ul>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
<script type="text/javascript">
    setTimeout(function () { window.location.href = 'https://vnpost.vienthonga.vn' }, 5000);
</script>

