@{
    Layout = "~/Views/Shared/_LayoutVnpost.cshtml";
}
<div class="product-pop-up">
    <div class="row">
        <div class="col-xs-12">
            <div class="popup-success">
                    <h3 class="text-nowrap">CÁM ƠN BẠN ĐÃ CHỌN VNPOST</h3>
                    <p>CHÚNG TÔI SẼ NHANH CHÓNG LIÊN LẠC VỚI BẠN SỚM NHẤT</p>
                    <p>
                        <a href="/" class="button button-blue">&laquo; Quay lại trang sản phẩm</a>
                    </p>
            </div>

        </div>

    </div>
</div>
