@{
    Layout = "~/Views/Shared/_LayoutVnpost.cshtml";
}
<div class="product-pop-up">
    <div class="row">
        <div class="col-xs-12">
            <div class="popup-success">

                <h3 class="text-nowrap">XIN LỖI ĐÃ CÓ LỖI XẢY RA</h3>
                <p>Chúng tôi rất tiếc vì xảy ra tình huống này, vui lòng chọn lại sản phẩm</p>
                <p>
                    <a href="/" class="button button-blue">&laquo; Quay lại trang chủ</a>
                </p>
            </div>

        </div>

    </div>
</div>