@{
    Layout = null;
}
<div id="sosanh" class="onepageNav">
    @*<div class="row no-gutter detail-sosanh">

            <h2 class="detail-title">So sánh Samsung Galaxy Grand Prime G530 với</h2>

            <div class="col-sm-3">
                <div class="product-compare">
                    <a href="" class="close">&times;</a>
                    <div class="product-compare-img">
                        <img src="/Content/images/products/product-1.jpg" alt="">
                    </div>
                    <div class="product-compare-detail">
                        <h3 class="name">Galaxy Grand Prime G530</h3>
                        <div class="price">19,500,000 Đ</div>
                        <div class="button button-blue">So sánh ngay</div>
                    </div>
                </div>

            </div>
            <div class="col-sm-3">
                <div class="product-compare">
                    <a href="" class="close">&times;</a>
                    <div class="product-compare-img">
                        <img src="/Content/images/products/product-1.jpg" alt="">
                    </div>
                    <div class="product-compare-detail">
                        <h3 class="name">Galaxy Grand Prime G530</h3>
                        <div class="price">19,500,000 Đ</div>
                        <div class="button button-blue">So sánh ngay</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="product-compare">
                    <a href="" class="close">&times;</a>
                    <div class="product-compare-img">
                        <img src="/Content/images/products/product-1.jpg" alt="">
                    </div>
                    <div class="product-compare-detail">
                        <h3 class="name">Galaxy Grand Prime G530</h3>
                        <div class="price">19,500,000 Đ</div>
                        <div class="button button-blue">So sánh ngay</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="product-compare product-compare-input">
                    <div class="compare-input-icon"><i class="vta-plus"></i></div>
                    <div class="search-suggestion">
                        <input type="text" class="input" placeholder="Nhập tên điện thoại">
                        <div class="search-suggestion-wrapper clearfix">
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <!--end detail sosanh-->
</div>