@{
    Layout = null;
}
    @*<div class="detail-review-chitiet">
            <h2 class="detail-title">Tin tức</h2>
            <div class="list-news-widget">
                <div class="verdes">
                    <div class="verdes-element img">
                        <div class="img-container">
                            <img src="/Content/images/detail/samsung-galaxy-grand-prime-g530-4.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="verdes-element">
                        <a href="">
                            <div class="name">Khuyến mãi khủng khai trương trung tâm Viễn Thông A chi nhánh 3/2</div>
                        </a>
                    </div>
                </div>
                <div class="verdes">
                    <div class="verdes-element img">
                        <div class="img-container">
                            <img src="/Content/images/detail/samsung-galaxy-grand-prime-g530-4.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="verdes-element">
                        <a href="">
                            <div class="name">So sánh nhanh Xperia c4 Dual và Xperia M4 Aqua</div>
                        </a>
                    </div>
                </div>
                <div class="verdes">
                    <div class="verdes-element img">
                        <div class="img-container">
                            <img src="/Content/images/detail/samsung-galaxy-grand-prime-g530-4.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="verdes-element">
                        <a href="">
                            <div class="name">Xperia C4 dual có giá bán chính thức tại Việt Nam</div>
                        </a>
                    </div>
                </div>
                <div class="pull-right">
                    <a href="">Xem tất cả &raquo;</a>
                </div>
            </div>
        </div>*@
