<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="VTAWebOrderAPIUrl" value="http://10.10.40.137/" />
  <add key="VTAWebAdmincpVnpost" value="http://admincpvnpost.vienthonga.vn" />
  <add key="AdmincpVtaUrl" value="http://admincpv2.vienthonga.com" />
  <add key="VTAWebAPILocal" value="http://local.vienthonga.com" />
  
  <!-- Live Server
    <add key="VTAWebAPIUrl" value="http://possync.vnpost.vienthonga.com/" />
    -->
  <!-- Local Server-->
  <add key="VTAWebAPIUrl" value="http://api.vnpost.vienthonga.com" />
  <add key="PriceStoreDefault" value="CS_0000337" />
  <add key="PrivateSaleStore" value="CS_0000384" />
  <add key="UrlApi" value="http://10.10.40.171/" />

  <add key="VTALoyaltyAPIUrl" value="http://api.vienthonga.vn/" />
  <add key="Email_Manager" value="vohoangnha@vienthonga.com,nguyenvanthin01@vienthonga.com,nvthintt@gmail.com" />
  <add key="EnableSendMail" value="true" />
  <add key="ExpireTime" value="24" />
  <add key="EnableSMS" value="true" />
  <add key="SMSCampaignCode" value="IT_Test" />
  <add key="SMSPassword" value="698efb9fbebfac8163178aa0b914920037cfe551c393d83b54" />
  <add key="StaticUrl" value="https://cdn1.vienthonga.vn" />
  <add key="VTAWebAPIPublicUrl" value="https://publicapi.vienthonga.vn/" />
  <add key="FrontEndUrl" value="http://vnpost.web.com" />

  <add key="ControllersCheckPermission" value="user,order,store"/>

  <add key="EmailDisplayName" value="vienthonga.vn" />
</appSettings>