<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-WebComment.API-20160218110614.mdf;Initial Catalog=aspnet-WebComment.API-20160218110614;Integrated Security=True" providerName="System.Data.SqlClient" />
  <!--<add name="SqlDbContext" connectionString="server=10.10.43.171,43171\AFFDB01;user id=vt@aff_user;password=Admin!@#456;database=AdmincpDemo;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />-->
  <add name="SqlDbContext" connectionString="server=10.10.43.171,43171\AFFDB01;user id=vt@aff_user;password=Admin!@#456;database=vta.Admincp;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />

</connectionStrings>