@{
    ViewBag.Title = "UploadSanpham";
    Layout = "~/Views/Shared/_LayoutAffiliate.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap-datepicker3.css" rel="stylesheet" />
<div id="main-content">
 
    <div class="container">
        <div class="clearfix">
            <h3>@ViewBag.Ketqua</h3>
        </div>
    </div>
</div>

