@using WebComment.Commons
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Api HomeProductMobis Page";
}

<div class="row">
    <h2>***Api lấy danh sách sản phẩm</h2>
    <p>
        <b>HTTP Request: </b> GET - @(Globals.UrlApi)product-api/GetListProductMobis
    </p>
    <p>
        <b>Intput: </b> <br/>
        <pre><code>
Thuột tính         Giá trị                Mô tả   
----------------------------------------------------------------------                              
rootCategoryId       int                 không chuyền vào defaul 0                   
CategoryId           int                 không chuyền vào defaul 0                   
skip                 int                 không chuyền vào defaul 0 
take                 int                 không chuyền vào defaul 10
</code></pre>
    </p>
    <p>
        <b>Output: </b><br />
        <pre>
        <code>
                {
                    "Result": true
                    "StatusCode": "Success"
                    "Message": null
                    "SysMessage": null
                    "Data": 
                       {
                            "ProductId": 173943
                            "CategoryId": 152820
                            "RootCategoryId": 152535
                            "ProductCode": "12131"
                            "ProductName": "Nokia 105"
                            "ImageDetail": "~/Upload/2015/11/3/nokia-105-2.jpg"
                            "PriceHeadOffice": -1
                            "PriceUnderHeadOffice": -1
                            "PriceOnline": -1
                            "PriceUnderOnline": -1
                            "PriceExpected": 0
                            "StatusExist": "A"
                            "StatusStock": "[Liên hệ]"
                        }
                }
            
            ** Các tham số (Result, StatucCode, Message, SysMessage) thông báo kết nói api
            ** Data là danh sách sản phẩn 
            </code>
        </pre>
    </p>

</div>